// bower:scss
// endbower

// Helpers and Mixins

@import "helpers/transitions";


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0px 2px;
}

h1 {
  padding: 10px 0px;
  text-align: center;
}

#loading {
  display: block;
  margin: auto;
}

.photo {
  width: 250px;
  float: left;
  overflow: auto;
  margin: 5px;
}

.vertical {
  height: 200px;
}
.horizontal {
  height: 100px;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.image {
  float: left;
  height: 100%;
  width: 100%;
  @include transition(0.5);
}

.favourite {
  @include transition(0.5);
}

.favourite.selected {
  border:3px dashed #f30;
  box-sizing: border-box;
  @include transition(0.5);
}

.grid-item { width: 400px; }
.grid-item--width2 { width: 400px; }